body 
{
    overflow-x: hidden;
}

img 
{
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.ScrollAblePage
{
    width: 80%;
    height: 100%;

    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

    z-index: 2; 
    position: relative;

    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    text-align: center;

    color: gray;

    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.692);
}

.textContainer
{
    margin-left: 10px;
    margin-right: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

#BackgroundCanvas
{
    z-index: -1;

    position: fixed;
    left: 0px;
}

.ListProjects
{
    margin-left: auto;
    margin-right: auto;

    width: 50%;
    height: 360px;

    border-radius: 2px;

    margin-bottom: 80px;

    background-color: #1c1d1f75;

    outline-color: white;
    outline-style: solid;
}